{% extends 'en/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <br>
    <h1 class="display-4">Janus</h1>
    <p class="lead">
        Janus is our Groupe​ guide on operations, procedures and behaviours.<br><br>
        Its about compliance, rules, code of conduct and, as such, it remains a restrictive and binding framework for
        the whole Groupe. In a world of defiance of corporations, of suspicion towards financial systems, etc.,
        compliance and good governance are paramount to our credibility and vital to gain all our stakeholders'
        confidence.<br><br>
        We urge all and everyone to read Janus and to disseminate it, as all entities across the Groupe must abide by
        these rules.
    </p>
    <br>
    <h2 class="">Volume I</h2>
    <p class="lead">Is about general standards, and is considered mandatory to get acquainted with:<br>
        <a data-interception="on" href="https://1drv.ms/b/s!AqG-BGp6EqHfc0OY2FPaTNie6pE">Polish version</a><br>
        <a data-interception="on" href="https://1drv.ms/b/s!AqG-BGp6EqHfdOsSKBOsgG9P1K0">English version</a>
    </p>
    
    <br>
    <h2 class="">Volume II</h2>
    <p class="lead">Provide an accounting policies and procedures framework. Aimed for financial and accounting teams:<br>
        <a data-interception="on" href="https://1drv.ms/b/s!AqG-BGp6EqHfch2JWQ2xUFjY0Fo">English version</a>
    </p>
</div>
<br>

{% include 'en/footer.html' %}
{% endblock content %}