{% extends 'en/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <br>
    <h1>Publicis Commerce</h1>
    <iframe
        src="https://onedrive.live.com/embed?resid=DFA1127A6A04BEA1%21107&amp;authkey=%21ABEeQTqBJyeGU_o&amp;em=2&amp;wdAr=1.7777777777777777"
        width="1186px" height="691px" frameborder="0">To jest osadzony dokument pakietu <a target="_blank"
            href="https://office.com">Microsoft Office</a> obsługiwany przez aplikację <a target="_blank"
            href="https://office.com/webapps">Office Online</a>.</iframe>
</div>

{% include 'en/footer.html' %}
{% endblock content %}