{% extends 'en/base.html' %}
{% load static %}

{% block content %}
<div>
    <img src="{% static 'en/images/publicis/lion.jpg' %}" alt="" width="100%">
</div>
<br>
<div class="container">
    <h1 class="display-4">Publicis Groupe</h1>
    <p class="lead">
        Publicis was founded in France by Marcel Bleustein-Blanchet in 1926. He was an extraordinary man who also fought
        in the Second World War and pioneered radio advertising in France.</n>
        <br><br>The company’s origins were quite modest – it all started in a Paris apartment. Today, after over 90
        years of development, the company is now the group – Publicis Groupe – the 3rd largest communication group in
        the world.
    </p>
    <br>
    <h2 class="">Holding of the year 2017</h2>
    <p class="lead">For the first time in the 17-year history of the magazine "Media and Marketing Polska", Publicis was
        named "Holding of the Year". The editors clearly rated Publicis Groupe very highly. This special title was
        testament to our great business results and positive transformations in terms of cooperation between agencies,
        as well as the quality of our services and achievements in the digital field. That was indeed quite something!
    </p>
    <br>
    <h2 class="">Power of ONE</h2>
    <p class="lead">The philosophy of the group is THE POWER OF ONE. All units should act in synergy and complement
        their competences to build real value for the client by providing the best business and communication
        solutions.<br><br>The main areas of activity are: communication strategy, film production, media planning and
        buying, e-commerce, performance marketing, content marketing, public relations, public affairs, CSR, and
        consulting services in the field of business transformation.
    </p>
    <br>
    <img src="{% static 'en/images/publicis/agencyMap.png' %}" alt="">
    <br>
    <h2 class="">Publicis Communication</h2>
    <p class="lead">Publicis Communications is a centre of creative expertise and Publicis’ real right hand in
        advertising.The main areas of our activity are creation, film production, public relations and public affairs.
        Our job is to attract the greatest talents in the industry and provide clients with effective solutions in the
        field of communication in marketing. <br><br>We create tailor-made answers based on consumer insights, brand
        knowledge
        and creative concepts, with added data and technology support. PC employs 30,000 experts in 100 branches across
        20 countries.<br><br>
        In Poland we operate the agencies: Saatchi & Saatchi IS, Leo Burnett, Publicis Worldwide, MSL, Prodigious,
        Marcel and Fallon.
    </p>
    <br>
    <h2 class="">Publicis Media</h2>
    <p class="lead">In terms of turnover Publicis Media represents the leading large group of agencies in Poland (RECMA
        ranking). It has also received the title Most Desired Employer (Antal company ranking).<br><br>
        Its main areas of activity are: communication strategy, media planning and buying, performance marketing,
        analytics and research, technology and data management, content marketing and business transformation. Thanks to
        the continuous cooperation of its different agencies, which make use of their varied resources and expert
        knowledge, the group guarantees easy access to all of its key competences and services to meet clients' business
        needs.
        PM employs 18,000 experts in 285 branches across 80 markets.<br><br>
        In Poland the following agencies operate within its framework: Starcom, Zenith, Digitas, Spark, Blue 449,
        Performics and LiquidThread.
    </p>
    <br>
    <h2 class="">Publicis Health</h2>
    <p class="lead">The largest worldwide network of agencies specialising in the healthcare sector and providing
        services to biomedical companies.
        It offers innovative solutions for communication in marketing, brand building strategies and increasing market
        access.<br><br>
        The ever-evolving healthcare environment requires flexibility and the ability to react quickly. The innovative
        solutions provided by Publicis Health allow our clients’ brands to maximize their potential and enhance their
        business results.
        There are around 5,500 people in the PSHC team, in 60 offices across 10 countries.<br><br>
        The network includes the following brands: Saatchi & Saatchi Wellness, Digitas Health LifeBrands, Publicis
        LifeBrands, Razorfish Health,
        Heartbeat Ideas, Discovery Worldwide, Insync Customer Insights, Public Health Media, Publicis Touchpoint
        Solutions, Publicis Health Media, Publicis Resolute, Langland, Evolvr, Maxcess and Verilogue.
    </p>
    <br>
    <h2 class="">Publicis Sapient</h2>
    <p class="lead">Publicis Sapient is the most advanced digital transformation platform in the world. It specialises
        in consultancy and implementing digital and technological solutions in business. <br><br>Companies must be modern and
        competitive to meet today's market requirements, and this involves the adoption of a completely new thinking
        about business – digital transformation. Publicis Sapient, building a business platform from scratch, changes
        both a client's business strategy and his operational activity, making possible improvements in performance and
        his readiness for further development and innovation. <br><br>There are 17,000 people employed by PS in 100 offices
        across 50 countries. This includes SapientRazorfish and Sapient Consulting.
    </p>
    <br>
</div>
{% endblock content %}